.copyright {
  position: absolute;
  z-index: 900;
  color: #fff;
  opacity: 0.6 !important;
  left: 0;
  bottom: 0;
  right: 5px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 18px;
}

.copyright a {
  color: #fff !important;
}

@media (max-width: 960px) {
  .copyright {
    display: none;
  }
}
